*{
  background-color:#062004;
}
.App {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interna{
  display: flex;
}
 
.item{
  height: 200px;
  width: 400px;
  padding: 12px;
}
 
.item img{
height: 90%;
border-radius: 15px;
pointer-events: none;
 }

 .carousel{
  cursor: grab;
  overflow: hidden;
 }